body{background-color:#ff0}

header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 4;
    pointer-events: none;
}

button span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff137;
    border-radius: 6px;
    margin-bottom: 4px;
}

.hamburger-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
    z-index: 3;
    opacity: 0;
}

.hamburger-button:checked + .menu button span {
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.hamburger-button:checked + .menu button span:nth-child(2) {
    opacity: 0;
}

.hamburger-button:checked + .menu button span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger-button:checked + .menu button span:nth-child(3) {
    transform: rotate(-45deg);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ac77fe;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Jockey One', sans-serif;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
    z-index: 2;
}

.hamburger-button:checked + .menu nav {
    visibility: visible;
    opacity: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
}

.page1 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Jockey One', sans-serif;
}

.page-title {
    position: relative;
    min-width: 200px;
    min-height: 170px;
    grid-column: span 11;
    background-color: black;
}

h2 {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drizzle, .chickpeas {
    position: absolute;
}

.drizzle {
    color: #ab77fe;
    top: -13px;
    right: 0;
    font-size: 1.6rem;
}

.tahini {
    color: #22f538;
    font-size: 4rem;
}

.chickpeas {
    color: #fff137;
    left: 0;
    bottom: -8px;
    font-size: 1.68rem;
    z-index: -1;
}

.article1 {
    color: #22f538;
    background-color: black;
    grid-column: span 11;
    font-size: 1rem;
    padding-bottom: 10px;
    padding-inline: 15px;
}

.sallad-picture {
    grid-column: span 11;
    background-image: url("../assets/photos/lettuce-head.jpg");
    background-size: cover;
    height: 300px;
    position: relative;
    background-position: center;
}

.sallad-picture:hover {
    .arrow-down {
        bottom: 12px;
    }
}

.arrow-down {
    transform: rotate(90deg);
    width: 42px;
    height: 29px;
    position: absolute;
    transition: bottom 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    bottom: 20px;
    left: 27px;
}

.article2 {
    color: #ae79fc;
    background-color: white;
    grid-column: span 11;
    font-size: 1rem;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 15px;
    position: relative;
}

.explore-menu {
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.arrow-right {
    width: 14px;
    height: 10px;
    position: absolute;
    bottom: 15px;
    left: 125px;
}

@media screen and (min-width: 1025px) {
    h1 {
        position: fixed;
        text-orientation: upright;
        writing-mode: vertical-lr;
        left: 0;
        top: 0;
        background-color: black;
        height: 100%;
        width: 60px;
        text-align: center;
        padding-left: 21px;
        margin-top: 0;
        font-size: clamp(1.5rem, 2.5vw, 4rem);
      }
    
    .page1 {
        padding-left: 90px;
    }

    .page-title {
        grid-column: span 4;
        min-height: 300px;
    }

    .drizzle {
        top: -15px;
        font-size: 2rem;
    }
    
    .tahini {
        font-size: 5rem;
    }
    
    .chickpeas {
        bottom: -10px;
        left: 8px;
        font-size: 1.97rem;
    }

    .article1 {
        grid-column: span 7;
        padding-top: 30px;
        font-size: 1.5rem;
    }

    .article2 {
        grid-column: span 6;
        margin-left: 10px;
        font-size: 1.5rem;
    }

    .sallad-picture {
        grid-column: span 5;
    }

    .explore-menu {
        font-size: 2rem;
    }

    .arrow-right {
        width: 24px;
        height: 20px;
        bottom: 122px;
        left: 200px;
    }
}


/* ----------------- PAGE 2 below ----------------- */


.page2-picture {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;

    div:nth-child(1) {
        grid-column: span 4;
    }

    div:nth-child(2),
    div:nth-child(3) {
        grid-column: span 2;
    }
}

.article3 {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    justify-content: space-around;
    text-align: center;
    row-gap: 5px;
    padding-bottom: 10px;
    font-family: 'Jockey One', sans-serif;
}

.article3 section {
    background-color: white;
    border-bottom-style: solid;
    border-top-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: span 7;
    align-content: center;
    margin-inline: 10px;
    position: relative;
}    

.article3 div {
    font-family: 'Roboto Condensed', sans-serif;
}

h3, strong {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.4rem;
}

.info-text1, .info-text2, .info-text3 {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-inline: 9px;
    align-self: center;
    position: absolute;
}

.info-text1 {
    background-color: #ac77fe;
    transform: rotate(3deg);
    top: 26px;
    right: 20px;
}

.info-text1 span {
    display: inline-block;
    transform: rotate(-3deg);
    top: 26px;
    right: 20px;
}

.info-text2 {
    background-color: #23ff38;
    transform: rotate(-5deg);
    top: 15px;
    right: 10px;
}

.info-text2 span {
    display: inline-block;
    transform: rotate(5deg);
    top: 15px;
    right: 10px;
}

.info-text3 {
    background-color: #fef133;
    padding: 0;
    top: 25px;
    right: 60px;
}


@media screen and (min-width: 1025px) {
    .page2-picture {
        padding-left: 80px;
        grid-template-columns: repeat(11, 1fr);


        div:nth-child(1) {
            grid-column: span 3;
        }

        div:nth-child(2) {
            grid-column: span 4;
        }

        div:nth-child(3) {
            grid-column: span 4;
        }
    }

    .article3 {
       justify-content: stretch;
       padding-left: 80px;
       row-gap: 5px;
       padding-bottom: 25px;
    }

    .article3 section {
        display: grid;
        grid-template-columns: repeat(11, 11fr);
        text-align: left;
        margin-right: 10px;
    }

    h3 {
        grid-column: span 3;
        margin-left: 10px;
        font-size: 1.9rem;
        position: relative;
    }

    .article3 div {
        grid-column: span 7;
        margin-top: 7px;
        padding-left: 90px;
    }

    .article3 strong {
        grid-column: span 1;
        text-align: right;
        margin-right: 10px;
        font-size: 1.9rem;
    }    

    .info-text1 {
        top: 10px;
        right: -15px;
    }
    
    .info-text2 {
        top: 10px;
        right: -42px;
    }
    
    .info-text3 {
        top: 10px;
        right: 90px;
}


/* ------------------ PAGE 3 below ------------------ */


footer {
    background-color: white;
}

.page3 {
    background-color: white;
    margin-left: 10px;
    font-family: 'Jockey One', sans-serif;
}

form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    background-color: #24fc3b;
    padding-bottom: 10px;
    justify-items: center;
}

h4 {
    text-transform: uppercase;
    grid-column: span 1;
    justify-self: center;
    font-size: 2rem;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15px;
}

.book-table {
    font-size: 1rem;
    grid-column: span 1;
    text-transform: uppercase;
}

.book-table span {
    padding-right: 10px;
}

label input {
    border-radius: 5px;
    border: white;
}

.cancel {
    background-color: #aa75ff;
    border: #aa75ff;
    border-radius: 5px;
    text-transform: uppercase;
    justify-self: center;
    padding-left: 30px;
    padding-right: 30px;

}

.request {
    background-color: #faf234;
    border: #faf234;
    border-radius: 5px;
    text-transform: uppercase;
    justify-self: center;
    padding-left: 30px;
    padding-right: 30px;

}

address {
    position: relative;
    padding-top: 10px;
    background-color: #24fc3b;
    z-index: 1;
}

address img {
    filter: blur(2px);
    padding-bottom: 10px;
}

.text-block {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

address a {
    display: flex;
    color: #26bdea;
    padding-left: 50px;
    padding-bottom: 30px;
    align-items: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    text-shadow: -2px -2px black;
    font-size: clamp(1.3rem, 2vw, 2rem)
}

.material-symbols-outlined {
    position: absolute;
    left: 0;   
}

.material-symbols-outlined.md-42 { font-size: 42px; }

@media screen and (min-width: 1025px) {
    .page3 {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        padding-left: 80px;
    }

    h4 {
        justify-self: left;
       
    }

    form {
        grid-column: span 5;
        padding-left: 10px;
    }

    address {
        grid-column: span 6;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .page3 label {
        justify-self: left;
    }
}